[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prefect = "*"
tensorflow = "*"
mlflow = "*"
kaggle = "*"
keras-tuner = "*"
watchdog = "*"
evidently = "*"
psycopg = "*"
pipenv = "*"
pre-commit = "*"
pylint = "*"
black = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
